.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0 0px 2px var(--inverted-bw);
}

.nav {
  min-width: 100wh;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__changeTheme {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__changeTheme:hover {
  color: var(--first-color);
}

.nav__toggle,
.nav__changeTheme {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--first-color);
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 0px 2px var(--inverted-bw);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }

  .nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .nav__btns {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .nav__icon {
    font-size: 1.2rem;
  }

  .nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
  }

  .nav__close:hover {
    color: var(--first-color-alt);
  }

  .nav__show_menu {
    bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav__logo {
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.8rem;
    box-shadow: 0 0px 1px var(--inverted-bw);
    position: relative;
  }

  .nav__logo:hover::after {
    content: "";
    position: absolute;
    background: var(--first-color-lighter);
    height: 2rem;
    width: 100%;
    z-index: -1;
    transition: transform 175ms cubic-bezier(0.91, 0, 0.55, 1.64);
    transform-origin: bottom left;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    column-gap: 2rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .nav__changeTheme {
    margin: 0;
  }
}
