.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--header-color);
  box-shadow: 0 0px 0.2rem var(--footer-border-color);
}

.nav {
  max-width: var(--big-screen-width);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__logo,
.nav__toggle,
.nav__changeTheme {
  color: var(--nav-items-color);
  font-weight: var(--font-medium);
}

.nav__link {
  color: var(--inverted-bw);
}

.nav__changeTheme:hover,
.nav__toggle:hover,
.nav__close:hover,
.nav__link:hover {
  color: var(--nav-items-hover-color);
}

.nav__toggle,
.nav__changeTheme {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.nav__btns {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 0px 2px var(--inverted-bw);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }

  .nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .nav__btns {
    gap: 1rem;
  }

  .nav__icon {
    font-size: 1.2rem;
  }

  .nav__close {
    position: absolute;
    right: 1.5rem;
    bottom: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
  }

  .nav__close:hover {
    color: var(--first-color-alt);
  }

  .nav__show_menu {
    bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    color: var(--nav-items-color);
    font-weight: var(--font-medium);
  }

  .nav__logo,
  \ .nav__toggle,
  .nav__changeTheme,
  .nav__link {
    font-size: var(--h4-font-size);
  }

  .nav__logo {
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .nav {
    height: calc(var(--header-height) + 1.2rem);
    column-gap: 1rem;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    column-gap: 2rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .nav__changeTheme {
    margin: 0;
  }
}
