.root {
  display: grid;
  grid: auto;
  min-height: 100vh;
}

.container {
  max-width: 100%;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

@media screen and (min-width: 351px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
}
