.box {
  z-index: 0;
  position: relative;
}

.box::before,
.box::after {
  content: "";
  position: absolute;
  inset: -4px;
  background: linear-gradient(
    135deg,
    var(--first-color),
    var(--ai-color),
    var(--title-color-alt)
  );
}

.box::after {
  filter: blur(10px);
}

.img_container {
  position: relative;
  z-index: 1;
}
