.blog__article {
  text-rendering: optimizelegibility;
  user-select: unset;
  text-size-adjust: none;
  hyphens: auto;
  text-align: start;
  overflow-wrap: break-word;
}

.headingXl {
  display: block;
  font-size: 2rem;
  font-weight: var(--font-medium);
  letter-spacing: -0.05rem;
}

.blog__headingColor {
  color: var(--title-color);
}

.blog__headingFont {
  font-family: var(--blog-font);
}

.blog__SlugColor {
  color: var(--text-color-light);
}

.blog__SlugFont {
  font-family: 'NBInter', monospace;
  font-size: 0.8rem;
}

.blog__contentColor {
  color: var(--text-color);
}

.blog__contentFont {
  font-family: var(--blog-font);
  font-style: normal;
  font-weight: var(--font-regularXl);
  font-size: 1.22rem;
  line-height: 2rem;
}

.borderCircle {
  border-radius: 9999px;
}

.padding1px {
  padding-top: 1px;
}

.blog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog__listItem {
  margin: 0 0 1.25rem;
}

.blog__postLink {
  color: var(--title-color-alt);
}

.lightText {
  color: var(--text-color);
}

.blog__slugContainer {
}

.blog__container {
  gap: 2rem;
  max-width: var(--big-screen-width);
  margin: 4rem auto;
}

@media screen and (min-width: 600px) {
  .blog__heading {
    max-height: max-content;
  }
}
