.container {
  background-color: var(--border-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.input_box {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input_box input {
  width: 100%;
  border: 1px solid var(--button-hover-color);
  padding: 1rem;
}

.input_box button {
  width: 100%;
  border: 1px solid var(--button-hover-color);
  padding: 1rem;
  background-color: var(--button-color);
  color: var(--default-bw);
  font-size: var(--h4-font-size);
  cursor: pointer;
  margin-top: var(--mb-1);
  height: 52px; /* Hard coding height to match height with text during loading */
}

.button_disable button {
  background-color: var(--button-color-disabled);
  cursor: no-drop;
}

.error_message {
  margin-top: var(--mb-1);
  color: var(--error-color);
}

.error_message::before {
  display: inline;
  content: '⚠ ';
}

@media screen and (min-width: 600px) {
  .input_box input,
  .input_box button {
    width: 400px;
  }
}
