.nav__link {
  color: var(--inverted-bw);
}

.nav__link:hover {
  color: var(--nav-items-hover-color);
}

.nav__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--h4-font-size);
  font-weight: var(--font-medium);
}

.nav__list {
  padding: var(--mb-1) var(--mb-1-5);
  display: flex;
  flex-direction: column;
}

.nav__mobile_menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow-y: auto;
  z-index: 2000;
  background-color: var(--body-color);
}

.nav__icon {
  margin-right: 1rem;
}

.nav__item {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .nav__menu {
    display: block;
  }
  .nav__link {
    color: var(--nav-items-color);
    font-weight: var(--font-medium);
    font-size: var(--h4-font-size);
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .nav__icon {
    display: none;
  }
}
