.nav__link {
  color: var(--inverted-bw);
}

.nav__link:hover {
  color: var(--nav-items-hover-color);
}

.nav__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--h4-font-size);
  font-weight: var(--font-medium);
}

.nav__list {
  display: flex;
}

.nav__menu_hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  .nav__list {
    padding: var(--mb-1) var(--mb-1-5);
    flex-direction: column;
  }

  .nav__mobile_menu_wrapper {
    position: fixed;
    top: var(--header-height);
    z-index: 2000;
  }

  .nav__mobile_menu {
    width: 100vw;
    height: calc(100vh - var(--header-height));
    position: absolute;
    overflow-y: auto;
    background-color: var(--body-color);
  }

  .nav__icon {
    margin-right: 1rem;
  }

  .nav__item {
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .nav__menu_hidden {
    display: block;
  }

  .nav__menu {
    position: absolute;
    z-index: 101;
  }

  .nav__link {
    height: var(--header-height);
    color: var(--nav-items-color);
    font-weight: var(--font-medium);
    font-size: var(--h4-font-size);
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2rem;
  }

  .nav__icon {
    display: none;
  }
}
